.AboutTeam {
    @media (min-width: 1200px) {
    
    }
    @media (max-width: 1200px) {
        padding: 70px 100px;
    }
    @media (max-width: 992px) {
        padding: 20px 100px;
        flex-direction: column;
        
        &_img {
            width: 70%;
            animation-range: 16% 70%;
        }
        &_info {
            width: 90%;

            &_avatrs {
                animation-name: fade-in;
                animation-fill-mode: both;
                animation-timing-function: linear;
        
                view-timeline-name: --fade-in-image;
                animation-timeline: --fade-in-image;
                animation-range: 5% 30%; 
            }
        }
    }
    @media (max-width: 768px) {
        padding: 20px 50px;
    }
    @media (max-width: 480px) {
        padding: 20px;

        &_info {

            &_header {
                @include font (30, 500,110%);
            }
            &_text {
                @include font (15, 500, 150%);
            }
            &_avatrs {
                gap: 20px;

                & img {
                    height: 70px;
                }
            }
        }
    }
}
