.styleForSlider {
    display: none;
    align-items: center;
    justify-content: center;


    @media (max-width: 767px) {
        display: flex;
    }
}

.styleForBtn {
    height: 50px;
    border: 2px solid transparent;
    color: rgb(89, 141, 102);
    background: transparent;
    margin: 0 10px;
    display: flex;
    align-items: center;
    user-select: none;
    

    &:hover {
        cursor: pointer;
        border: 2px solid rgb(89, 141, 102);
        border-radius: 50px;
    }
    &:active {
        background-color: rgb(225, 237, 230);
    }
}