.burger{
    display: none;
    position: relative;
    z-index: 10;
    align-items: center;
    justify-content: flex-end;
    width: 23px;
    height: 15px;
    transform: scale(1);

    &:hover {
        cursor: pointer;
    }
    & span {
        height: 13%;
        width: 80%;
        background-color: rgb(89, 141, 102);
        transition: all 0.15s ease 0s;
    }
    &::before, &::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: rgb(89, 141, 102);
        transition: all 0.3s ease 0s;
        
    }
    &::before { top: 0; }
    &::after { bottom: 0; }

    &.open {
        & span { transform: scale(0); }
        &::before {
            top: 50%;
            transform: rotate(-45deg) translate(0, -50%);
        }
        &::after {
            bottom: 50%;
            transform: rotate(45deg) translate(0, 50%);
        }
    }
}

@keyframes burgerAnimationOpen {
    from {opacity: 0;}
    to {opacity: 1;}
}

