@import 'burgerMenu';

@keyframes scrolling-header {
    to {
        height: 45px;
    }
}
@keyframes scrolling-header-media {
    to {
        height: 20px;
    }
}
.header {
    display: flex;
    justify-content: space-between;
    background: rgb(225, 237, 230);
    padding: 0 165px;
    height: 100px;
    align-items: center;
    @include font (20, 500, 23px);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;

    animation-name: scrolling-header;
    animation-fill-mode: both;
    animation-timeline: scroll();
    animation-range: 100px 600px;

    &_wrapper {
        width: 25%;
        overflow: hidden;
    }
    &_menu {
        display: flex;
        list-style: none;
        gap: 60px;
        cursor: pointer;
        padding-left: 0;
        
        &.active {
            display: flex;
        }
    }

    & li:hover {
        color: rgb(89, 141, 102);
    }

    
}
