.Cards {
    @media (min-width: 1200px) {
        padding-left: 165px;
        justify-content: start;
    }
    @media (max-width: 1200px) {
        padding: 0 70px;
    }
    @media (max-width: 992px) {
        padding: 0 50px;
    }
    @media (max-width: 768px) {
        padding-left: 50px;
        justify-content: start;
        display: none;
    }
    
}



.Card {
    @media (width <= 1200px) {
        width: 200px;
        height: 514px;

        & img {
            width: 200px;
            height: 250px;
        }
        &_author {
            @include font (16, 500, 19px);
            color: rgb(134, 146, 139);
            margin-top: 15px;
            margin-bottom: 10px;
        }
        &_header {
            @include font (24, 500, 28px);
            margin-bottom: 8px;
            margin-top: 0;
        }
        &_info {
            @include font (16, 500, 19px);
            margin-top: 0;
            margin-bottom: 0;
        }
        .price {
            color: rgb(89, 141, 102);
            @include font (20, 500, 23px);
            margin-bottom: 10px;
            margin-top: auto
        }
        Button {
            @include font (18, 500, 21px);
            padding: 20px 55px;
            margin-top: auto;
            margin: 0;
        }
    }
    @media (max-width: 479px) {
        height: 380px;
        width: 160px;
        padding: 10px;

        & img {
            height: 210px;
            width: 160px;
        }
        &_author {
            @include font (14, 500, 16px);
        }
        &_header {
            @include font (20, 500, 22px);
        }
        &_info {
            display: none;
        }
        .price {
            @include font (17, 500, 20px);
            margin-top: auto;
        }
        Button {
            @include font (15, 500, 16px);
            padding: 15px;
            margin-top: auto;
            margin: 0;
        }
    }
}