.FooterMenu {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 0;
    margin: 0;
    li {
        list-style: none;
        @include font (18, 500, 150%);
        color: rgb(134, 146, 139);
    }
    h3 {
        margin: 0;
        @include font (20, 500, 23px);
    }
}