.Footer {
    @media (min-width: 1200px) {
    
    }
    @media (max-width: 1200px) {
        padding: 23px 70px;

        &_logo {
            margin-right: 65px;
        }
    }
    @media (max-width: 992px) {
        flex-direction: column;
        padding: 23px 40px;
        

        &_logo {
            display: flex;
            justify-content: space-between;
            margin: 0;
            margin-bottom: 30px;
            width: 100%;
        }
        &_wrapper {
            display: flex;
        }
    }
    @media (max-width: 768px) {
        flex-direction: column;
        padding: 23px 40px;
        

        &_logo {
            display: flex;
            justify-content: space-between;
            margin: 0;
            margin-bottom: 30px;
        }
        &_wrapper {
            display: grid;
            grid-template-rows: 1fr;
        }
        &_menu_wrapper {
            border-bottom: 1px solid rgb(195, 209, 198);
            margin-bottom: 18px;
            padding-bottom: 15px;
            justify-content: space-between;
            gap: 50px;
        }
        &_icons {
            margin: 0;
            align-items: center;
        }
        &_p {
            flex-direction: row;
        }
    }
    @media (max-width: 480px) {
        padding: 16px 20px;

        &_logo {
            height: 35px;
        }
        &_number {
            @include font(13, 500, 18px);
            gap: 0;

            &_add {
                @include font(13, 500, 18px);
              }
        }
        &_menu_wrapper {
            gap: 20px;
        }
        &_icons_images img {
            height: 16px;
        }
        &_p p {
            @include font (10, 500, 10px);
        }
    }
}